env/
.vscode/
test.py
venv/
__pycache__/
*.pyc
.DS_Store
UdyanSaathi/__pycache__/settings.cpython-311.pyc
UdyanSaathi/__pycache__/urls.cpython-311.pyc
UdyanSaathi/__pycache__/wsgi.cpython-311.pyc
UdyanSaathiAPI/__pycache__/__init__.cpython-311.pyc
UdyanSaathiAPI/__pycache__/admin.cpython-311.pyc
UdyanSaathiAPI/__pycache__/apps.cpython-311.pyc
UdyanSaathiAPI/__pycache__/DBConnection.cpython-311.pyc
UdyanSaathiAPI/__pycache__/DBOPS.cpython-311.pyc
UdyanSaathiAPI/__pycache__/models.cpython-311.pyc
UdyanSaathiAPI/__pycache__/serializer.cpython-311.pyc
UdyanSaathiAPI/__pycache__/urls.cpython-311.pyc
UdyanSaathiAPI/__pycache__/views.cpython-311.pyc
UdyanSaathiAPI/migrations/__pycache__/__init__.cpython-311.pyc
UdyanSaathiAPI/migrations/__pycache__/0001_initial.cpython-311.pyc
UdyanSaathiAPI/migrations/__pycache__/0002_alter_aqicalendarmodel_pol_date_and_more.cpython-311.pyc
UdyanSaathiAPI/migrations/__pycache__/0003_mlmodel_alter_pollutionmodel_pol_date.cpython-311.pyc
UdyanSaathiAPI/migrations/__pycache__/0004_mapdatamodel_stationscoordinatesmodel_and_more.cpython-311.pyc
UdyanSaathi/__pycache__/settings.cpython-311.pyc
UdyanSaathi/__pycache__/urls.cpython-311.pyc
UdyanSaathi/__pycache__/wsgi.cpython-311.pyc
